body {
    background-color: #444;
    margin: 0;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #ccc;
    border-bottom: 2px solid #666;
    display: flex;
    padding: 20px;
    height: 10vh;
}

.header-infos {
    margin: auto;
    display: flex;
    height: 100%;;
}

.header-text {
    padding: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.header-infos img {
    height: 100%;
}

.header h1, .header h3 {
    font-weight: 400;
    margin: 0;
}

.header h3 {
    font-weight: 700;
}

.body {
    height: 1vh;
    padding: 10%;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seed-nb {
    color: #DDD;
    font-size: 2rem;
}

a {
    display: block;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: #b60000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 25%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    background-color: #3e8e41;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
